# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency Directories
node_modules/
jspm_packages/

# Build Outputs
dist/
build/

# IDE / System Files
.DS_Store
.vscode/
.idea/

